extends ../layout

block content
	.genre-add
		
		.gadderrmsg
			if errors
				p Errors found trying to process form. These include : -
				ul
					for error in errors
						li!= error.msg

		form(action =''	, method ='POST'	,	enctype ='x-www-form-urlencoded')
			.form-group
				label(for ='genre') Name : 
					span *
				input(type ='text'	,	name ='genre'	, class ='form-control form-control-sm' ,	id ='genre' , placeholder ='Drama' , required ='required' value =(undefined === genre ? '' : genre.genre))

			button(type ='submit'	, title ='Submit' , class ='btn btn-primary float-right px-4') Submit
