extends ../layout

block content
	.title-review-add

		.radderrmsg
			if errors
				p Errors found trying to process form. These include : -
				ul
					for error in errors
						li!= error.msg
			
			form(action =''	, method ='post'	,	enctype ='x-www-form-urlencoded')
				.form-group
					label(for ='author') Name : 
						span *
					input(type ='text'	,	name ='author' , class ='form-control form-control-sm' ,	id ='author' value =(undefined === user ? '' : user.username))

				.form-group
					label(for ='rating') Rating :
					select(name ='rating'	, id ='rating' , class ='form-control form-control-sm')
						option(value ='0') 0
						option(value ='1') 1
						option(value ='2') 2
						option(value ='3') 3
						option(value ='4') 4
						option(value ='5') 5


				.form-group
					label(for ='reviewText') Review :
						span  *
				textarea(id ='reviewText'	, name ='review_text' class ='form-control form-control-sm')
					| #{undefined === review ? '' : review.review_text}

				button(type ='submit'	, title ='Submit' class ='btn btn-primary float-right px-4') Submit