extends ../layout

block content

	.adelete
		h4  #{title} - #{movieTitle}
		
		p Do you want to delete and remove this genre from the title Alani Pamolekun?

		form(action =''	, method ='post' , enctype ='application/x-www-form-urlencoded')
			button(type ='submit' , title ='Delete') Delete