ul
	li.mr-3
		a(href ='/title/' + detail.url + '/cast') Cast

	li.mr-3
		a(href ='/title/'+ detail.url + '/photos') Photos

	li.mr-3
		a(href ='/title/' + detail.url + '/trailers') Trailers

//-
		li
		a(href ='/title/name/credits') Credits
