* {

	font-family : Arial;
	font-size : 13px;
	font-weight : normal;
	font-style : normal;
	padding : 0;
	margin : 0;
	border : 0;
	box-sizing : border-box;
	text-decoration : none !important;
	line-height : 2.5;
	color : #464444;
}

h1 , h4 , h5 {

	font-size : 18px;
}

p , p span {

	font-size : 13px;
}

h2 span, h3 span, h4 span, h5 span, h6 span {

		font-weight : bold !important;
}

 h2 a , h3 a , h4 a , h5 a , h6 a , h2 i , h3 i , h4 i , h5 i , h6 i {

 	font-weight : bold;
}

a {

	color : #007bff;
}

h2 , h2 span , h2 a {

	font-size : 14px !important;
}

.container {

	width : 95%;
	margin : 0px auto;
	padding : 10px;
}

.header .nav ul , .title-nav ul , .studio-nav ul , .actor-nav ul {

	list-style : none;
	text-align : center;
}

.header .nav ul li , .title-nav ul li , .studio-nav ul li , .actor-nav ul li {

	display : inline-block;
	margin : 0px 3em;
}

.main {

	width : 85%;
	float : left;
}

.aside {

	float : left;
	width : 15%;
}

.footer {

	clear : both;
}

.title-item {

	float : left;
	width : 47%;
	margin : 0 2em 2em 0;
	padding : 10px;
	height : 380px;
	overflow : hidden;
}

.title-item * {

	line-height: 3.0 !important;
}

.tadd ul {

	list-style-type : none;
	text-align : center;
}

.studio-list ul , .title-body-actor , .aside ul {

	list-style-type : none;
	padding : 15px;
}

.studio-list .studio-list-item , .actor-list .actor-list-item , .title-body-actor li {

	width : 170px;
	height : 170px;
	overflow : hidden;
	display : inline-block;
	text-align : center;
	padding : 10px;
}

.studio-list-item img , .actor-list-item img , .title-body-actor li img , .title-body .title-image img , .title-item .img-thumb img {

	width : 120px;
	height : 120px;
	margin : 0px auto;
}

.title-detail , .actor-detail , .studio-detail , .genre-detail , .add-item {

	width : 95%;
}

.studio-detail-image , .title-image , .actor-detail-image {

	text-align : center;
	margin-top : 1em;
}

.studio-detail-image img , .actor-detail-image img , .title-image img {

	width : 300px;
	height : 300px;
}

.title-body-review , .footer {

	clear : both;
}

.footer {
	text-align : center;
}


.footer ul {

	list-style-type : none;
}

.footer li { 

	display : inline-block;
	margin-right : 1em;
}

.title-body-photo img {

	height : 300px;
	width : 300px;
}

.title-body-review h5 a {

	font-weight : normal;
}

input , label {

	display : block;
}

textarea , select , input {

	width : 100%;
	line-height : 2.0;
	padding : 6px 20px;
	border : 0.5px double lightgray;
	border-radius : 8px;
	margin-bottom : .5em;
}

input {

	line-height : 1.8;
}

button {

	line-height : 2.5;
}

select {

	height : 35px;
}

textarea {

	height : 200px;
	resize : none;
}

.btn {

	margin-top : 1em;
	border-radius : 8px;
	padding : 0px 25px;
	color : white;
}

.float-right {

	float : right;
}

.btn-primary {

	background-color : #007bff;
}

.btn-secondary {

	background-color : #dc8f30;
}

.btn-info {

	background-color : #888582;
}

.btn-info , .btn-primary , .btn-secondary {

	padding : 2px 20px;
	border : 2px solid inherit;
	margin-right : 1em;
}

.add-item ul {

	list-style: none;
}

.add-item ul li {

	border : 2px solid lightgray;
	margin-bottom : 2em;
	padding : 5px 10px;
	border-radius : 6px;
}

.t-r-i {

	margin-bottom : 1.875em;
}

.title-revs {

	margin-top : 2em;
}

span.date {

	float : right;
}

hr {

	border : 0.5px solid lightgray;
}

form {

	width : 95%;
}


@media all and (max-width : 1113px) {

	.main {

		float : none;
		width : 100%;
	}

	.title-item {

		width : 45%;
		height : 100%;
	}

	.aside {

		clear : both;
		float : none;
		width : 100%;
	}

	form {

		width : 100%;
	}

}

@media all and (max-width : 680px) {

	.main {

		float : none;
		width : 100%;
	}

	.title-item {

		width : 48%;
		height : 360px;
		margin-right : .5em;
	}

	.aside {

		float : none;
		width : 100%;
	}

}

@media all and (max-width : 480px) {

	.main {

		float : none;
		width : 100%;
	}

	.title-item {

		width : 100%;
		height : 100%;
	}

	.aside {

		float : none;
		width : 100%;
	}

}

@media all and (max-width : 240px) {

	span.date {

	float : none;
	display : block;
}

}