extends layout

block content

	.ylist

		.ylisthead
			h2 List

		.ymenu


		.ybody
			.yindividual
				ul
					li Action
					li Comedy
					li Drama
					li Horror
					li Thriller
					li Action
					li Comedy
					li Drama
					li Horror
					li Thriller
					li Action
					li Comedy
					li Drama
					li Horror
					li Thriller
					li Action
					li Comedy
					li Drama
					li Horror
					li Thriller
					li Action
					li Comedy
					li Drama
					li Horror
					li Thriller
