extends layout

block content

	.tlay
		.tlist
			.tsum
				.thead
					h3 Alani Pamolekun

				.tsumdet
					img(src ='/images/one.jpg')

				.tsumbody
					p Orignal Title : Alani Pamolekun
					p Title: Alani Pamolekun
					p Cast : Odunlade Adekola, Eniola Ajao, Bolaji Amusan, Olayinka Ibrahim
					p Production Company : Adekola Families
					p Production Countries : Nigeria
					p Released Date : 2013
					p Running Time : 80 minutes
					p Director : Yinka Quadri
					p Producer : Laitan Olaniyar
					p Ratings : 5
					p Spoken Languages : English, Yoruba
					p Genre : Action, Drama, Horror, Thriller
					p Budget : 70, 000 usd
					p.syp Sypnosis : My name is Yusuf Musa Yusuf. I study Information and Media Technology at the Federal University of Technology MinnaMy name is Yusuf Musa Yusuf. I study Information and Media Technology at the Federal University of Technology MinnaMy name is Yusuf Musa Yusuf. I study Information and Media Technology at the Federal University of Technology Minna


			.tsum
				.thead
					h3 Alani Pamolekun

				.tsumdet
					img(src ='/images/one.jpg')

				.tsumbody
					p Orignal Title : Alani Pamolekun
					p Title: Alani Pamolekun
					p Cast : Odunlade Adekola, Eniola Ajao, Bolaji Amusan, Olayinka Ibrahim
					p Production Company : Adekola Families
					p Production Countries : Nigeria
					p Released Date : 2013
					p Running Time : 80 minutes
					p Director : Yinka Quadri
					p Producer : Laitan Olaniyar
					p Ratings : 5
					p Spoken Languages : English, Yoruba
					p Genre : Action, Drama, Horror, Thriller
					p Budget : 70, 000 usd
					p.syp Sypnosis : My name is Yusuf Musa Yusuf. I study Information and Media Technology at the Federal University of Technology MinnaMy name is Yusuf Musa Yusuf. I study Information and Media Technology at the Federal University of Technology MinnaMy name is Yusuf Musa Yusuf. I study Information and Media Technology at the Federal University of Technology Minna

