extends layout

include include/amix

block content
	
	.actor-list

		if actors.length !== 0
			ul
				for actor in actors
					.actor-list-item.mr-4
						li
							a(href ='/actor/' + actor.url)
							for cover_image in actor.cover_image
								+fixDir(cover_image.path)

							p
								a(href ='/actor/' + actor.url) #{actor.name}

		else
			p There are no actors available