extends layout

include include/amix

block content
	
	.actor-list

		if actors.length !== 0
			ul
				for actor in actors
					.actor-list-item
						li
							a(href ='/actor/' + actor.url)
								+fixDir(actor.cover_image.path)

							p
								a(href ='/actor/' + actor.url) #{actor.name}

		else
			p There are no actors available