extends layout

block content

	.add-item

		ul
			li
				a(href ='/title/add' class ='li-1') Add Title

			li
				a(href ='/actor/add' class ='li-2') Add Actor

			li
				a(href ='/studio/add' class ='li-3') Add Studio

			li
				a(href ='/genre/add' class ='li-4') Add Genre
