extends layout

block content

	.clay
		.clist

			.clayhead
				h2 Year
				
		.cpmenu


			
			.csum
				.chead
					h3
						a(href ='/title/name') Year

				.csumdet
					img(src ='')

				.csumbody
					p Orignal Title : 
					p Title : 
					p Ratings : 
					p Released Date : 
					p Running Time : 
					p Producer : 
					p Production Company : 
					p Production Countries : 
					p Spoken Languages : 
					p Budget : 
					p.syp Sypnosis : 
