doctype html

html

	head
		title 
			if title
				| #{title} - 
			| Aremi Movie Database
		meta(name ='description' 		,		content ='Aremi Movie Database is a site that offers information about African titles and actors')
		meta(name ='author'					,		content ='Yusuf Musa Yusuf')
		meta(name ='http-equiv'			,		content ='charset=utf-8')
		meta(name ='viewport'				,		content ='width=device-width,initial-scale=1')


		link(rel ='stylesheet'			, 	href='/stylesheets/style.css')


	body
		.container

			.header

				.nav

					ul
						li
							a(href ='/actor') Actor
						li
							a(href ='/genre') Genre
						li
							a(href ='/studio') Studio
						li
							a(href ='/title') Title

				h1 #{title}


			.main
				block content

			.aside
				h4 Genre

				ul
					li 
						a(href='/genre/action') Action
					li 
						a(href='/genre/comedy') Comedy
					li
						a(href='/genre/drama') Drama
					li 
						a(href='/genre/horror') Horror
					li
						a(href='/genre/thriller') Thriller
					li
						a(href='/genre/animation') Animation
					li
						a(href='/genre/adventure') Adventure
					li
						a(href='/genre/crime') Crime
					li
						a(href='/genre/fantasy') Fantasy
					li
						a(href='/genre/fiction') Fiction
					li 
						a(href='/genre/historical') Historical
					li
						a(href='/genre/documentary') Documentary
					li
						a(href='/genre/legends') Legends
					li
						a(href='/genre/retro') Retro

				h4 Year

				ul
					li
						a(href='/year/1999') 1999
					li
						a(href='/year/2000') 2000
					li
						a(href='/year/2001') 2001
					li
						a(href='/year/2002') 2002
					li
						a(href='/year/2003') 2003
					li
						a(href='/year/2004') 2004
					li
						a(href='/year/2005') 2005
					li
						a(href='/year/2006') 2006
					li
						a(href='/year/2007') 2007
					li
						a(href='/year/2008') 2008
					li
						a(href='/year/2009') 2009
					li
						a(href='/year/2010') 2010
					li
						a(href='/year/2011') 2011
					li
						a(href='/year/2012') 2012
					li
						a(href='/year/2013') 2013
					li
						a(href='/year/2014') 2014
					li
						a(href='/year/2015') 2015
					li
						a(href='/year/2016') 2016
					li
						a(href='/year/2017') 2017
					li
						a(href='/year/2018') 2018
					li
						a(href='/year/2019') 2019
					li
						a(href='/year/2020') 2020
					li
						a(href='/year/2021') 2021
					li
						a(href='/year/2022') 2022


		.footer
			p Copyright &copy; 2018 | All Rights Reserved.
			ul
			if user
				li
					a(href='/signout') Logout
				li
					a(href='/add') Add
			else
				li
					a(href='/login') Login
				li
					a(href='/signup') Signup
				li
					a(href='/add') Add
			p Powered by V Enterprise
