extends layout

block content

	.genre-list

		.genre-menu
			include ./include/gmenu

		ul
			for genre in genres
				.genre-list-item
					li 
						a(href ='/genre/' + genre.genre.toLowerCase()) #{genre.genre}