extends layout

include include/smix

block content

	.studio-list



		if studios	
			ul
				for studio in studios
					.studio-list-item
						li
							a(href ='/studio/' + studio.url)
								+fixDir(studio.cover_image.path)

							p
								a(href ='/studio/' + studio.url) #{studio.name}

		else
			p There are no studios available