extends layout

include include/smix

block content

	.studio-detail

		.studio-nav
			include ./include/sdmenu

		.studio-detail-image
				+fixDirA(studio.cover_image.location)

		p Name : #{studio.name}
		p Year Founded :  #{studio.year_founded}
		p.bio Biography : #{studio.biography}