extends layout

include include/smix

block content

	.studio-list

		.studio-nav
			include ./include/sadd-menu

		if studios	
			ul
				for studio in studios
					.studio-list-item.mr-4
						li
							a(href ='/studio/' + studio.url)
								+fixDirA(studio.cover_image.location)

							p
								a(href ='/studio/' + studio.url) #{studio.name}

		else
			p There are no studios available