extends layout

include include/tmix

block content
	.tdtrailerhead
	
			.tdtrailer
				unless detail !== []
					for sample in detail
						video(width ='500'	,	height ='400'	,	type ='video/mp4'	controls)
							+fixDirTrailer(sample.path)
				else
					p There is no trailer available for this title
