extends layout

include include/tmix

block content
	.tdtrailerhead
	
			.tdtrailer
				unless detail === []
						video(width ='500'	,	height ='400'	,	type ='video/mp4'	controls)
							source(class ='', src =detail.location)
				else
					p There is no trailer available for this title
