extends layout

block content

	.tdcredits
		.tdcreditshead
			h2 #{title} - #{movieTitle}
			
		.tdcreditsbody
			.gindividual
				ul
					li Action
					li Comedy
					li Drama
					li Horror
					li Thriller
					li Action
					li Comedy
					li Drama
					li Horror
					li Thriller
					li Action
					li Comedy
					li Drama
					li Horror
					li Thriller
					li Action
					li Comedy
					li Drama
					li Horror
					li Thriller
					li Action
					li Comedy
					li Drama
					li Horror
					li Thriller
