extends layout

include include/tmix

block content

	.title-body-actor
		ul
			for actor in cast
				li.mr-4
					a(href ='/actor/' + actor.url)
						img(src ='/images/fam.jpg')
					p
						a(href ='/actor/' + actor.url) #{actor.name}