extends layout

include include/tmix

block content
		
	.title-body-photo
		unless photo === []
			for photo in photos.photo
				.tdindividuald.float-left
					+fixDirTt(photo.location)

		else
			p There are no photos available for this title.