extends layout

include include/title-detail

block content

		if reviews
			for review in reviews
				.title-review-each
					h6.head #{review.author}
					p Ratings : #{review.rating}
					p Date : 
						+formatDate(review.timestamp)
					p  Review Text : #{review.review_text}
					hr
		
			else
				p There are no reviews for this title - #{ttitle}
