ul
	li
		a(href ='/title/' + detail.url + '/cast') Cast

	li
		a(href ='/title/'+ detail.url + '/photos') Photos

	li
		a(href ='/title/' + detail.url + '/trailers') Trailers


	li
		a(href ='/title/add') Add Title

//-
		li
		a(href ='/title/name/credits') Credits
