extends ../layout

block content

	.title-delete
		
		form(action =''	, method ='post' , enctype ='application/x-www-form-urlencoded')
			
			p Do you want to delete and remove this title, #{titleData.title}?

			button(type ='submit' , title ='Confirm' class ='btn btn-primary float-right px-4') Confirm