extends ../layout

block content

	.gdelete
		h4 Delete Year
		
		p Do you want to delete and remove this year, 1959?

		form(action =''	, method ='post' , enctype ='application/x-www-form-urlencoded')
			button(type ='submit' , title ='Delete') Delete